@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor1: #CEDAF2;
    --cor2: #A7B3D9;
    --cor3: #BF8FB7;
    --cor4: #ac7793;
    --cor5: #F2A7A7;
    --cor6: #023535;
    --cor7: #b2bcd1;
    --cor8: #B4CF66;

    --font-padrao: 'Ubuntu', sans-serif;
    --font-secundaria: 'Bebas Neue', cursive;
}

*{
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: white;
}

.container {
    padding-right: 10vw;
    padding-left: 10vw;
}

/*====== HEADER ======*/

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100vw;
    height: 6rem;

    color: var(--cor6);
    font-family: var(--font-padrao);
}

.nav_caracter {
    color: var(--cor8);
    font-size: 2.2rem;
    font-weight: 700;
    padding: 0 .4rem;
}

.nav_caracter:first-child {
    padding-left: 0;
}

.nav_title {
    font-variant: small-caps;
    font-size: 1.8rem;

    color: var(--cor3);
}

.nav_list {
    display: flex;
    font-weight: 600;
}

.nav_list__ancora {
    color: var(--cor3);
}

header nav li ul {
    padding: 0 1vw 0 1vw;
}

header nav li ul:last-child {
    padding-right: 0;
}

/*====== HOME ======*/

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 3rem 0 6rem 0;
}

.home_avatar {
    background-image: url('../images/meu_avatar.svg');
    background-size: contain;
    background-repeat: no-repeat;

    height: 400px;
    width: 400px;
}

.home_description {
    border: 1px solid var(--cor1);
    border-radius: 1.6rem;
    background-color: #fcfcfc;

    font-family: var(--font-padrao);

    padding: 4rem;

    width: 45vw;
}

.home_description__subtitle {
    font-size: 1rem;
    color: var(--cor7);
}

.home_description__title {
    color: var(--cor8);
    font-size: 5rem;
    font-family: var(--font-secundaria);

    padding: 0.5rem 0 .5rem 0;
}

.home_description__text {
    color: var(--cor4);
    font-size: 1.2rem;

    line-height: 2rem;
}

/*====== SOCIAL ======*/

.description__social {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    width: 7vw;
}

.description__social i {
    font-size: 1.6rem;
    color: var(--cor4);
}

.description__social a {
    transition: .3s;
}

.description__social a:hover {
    transform: translateY(-0.5rem);
}

/*====== TRANSITION ======*/

.transition {
    display: flex;
    justify-content: space-between;

    font-family: var(--font-secundaria);

    letter-spacing: .2rem;

    opacity: .08;

    margin-left: 12vw;
    margin-right: 12vw;
}

.transition_container {
    display: flex;
    align-items: center;
}

.transition_image {
    background-size: contain;
    background-repeat: no-repeat;

    margin-right: 2rem;
    
    height: 80px;
    width: 80px;
}

.image_javascript {
    background-image: url('../images/javascript_logo.svg');
}

.image_html {
    background-image: url('../images/html_logo.svg');
}

.image_css {
    background-image: url('../images/css_logo.svg');
}

.image_git {
    background-image: url('../images/git_logo.svg');
}

.image_github {
    background-image: url('../images/github_logo.svg');
}

.image_react {
    background-image: url('../images/react_logo.svg');
}

/*====== ABOUT ======*/

.about {
    display: flex;
    justify-content: space-between;

    font-family: var(--font-padrao);

    margin: 6rem 0 9rem 0;
}

.about_avatar {
    background-image: url('../images/meu_avatar_2.svg');
    background-size: contain;
    background-repeat: no-repeat;

    margin-right: 8vw;

    height: 400px;
    width: 400px;

    z-index: 1;
}

.about_description { 
    position: relative;   
    width: 40vw;

    margin-left: 2rem;

    text-align: justify;

    z-index: 1;
}

.about_title {
    font-family: var(--font-secundaria);
    font-size: 3.6rem;

    text-indent: .4rem;

    padding-bottom: 1.2rem;

}

.about_text {
    color: var(--cor4);
    font-size: 1.2rem;
    line-height: 2rem;
}

.about_donwload {
    border: 2px solid var(--cor5);
    border-radius: 2.4rem;

    cursor: pointer;

    font-family: var(--font-secundaria);
    font-size: 1.6rem;

    letter-spacing: .2rem;

    padding: 1rem 3rem;
    margin: 2rem 2rem 0rem 2rem;

    transition: .7s;
}

.about_donwload:hover {
    transform: scale(1.1);
}

.about_donwload a {
    color: var(--cor5);
}

.about_title__caracter {
    color: var(--cor6);

    padding: 0 .6rem 0 .6rem;
}

.about_title__span {
    color: var(--cor8);
}

.about_title__image {
    background-image: url('https://i.pinimg.com/736x/9e/a4/07/9ea407824655633012e9b7e46993147d.jpg');
    background-size: contain;

    width: 80vw;
    height: 65vh;

    margin-top: -1.8rem;

    position: absolute;

    opacity: 0.05;
}

/*====== PROJECTS ======*/

.project {
    margin-top: 6rem;
    margin-bottom: 6rem;

    color: white;
}

.div_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 3rem;
}

.project_title {
    font-family: var(--font-secundaria);
    font-size: 3.6rem;

    margin: 0 0 2rem 2.6rem;
}

.project_card {
    border-radius: 1.2rem;

    box-shadow: 1px 1px .8rem rgba(0, 0, 0, 0.39);
    background-color: rgba(2, 53, 53, 0.4);

    width: 18vw;

    margin: 0 auto;
    padding: 1rem;
}

.project_card__title {
    font-family: var(--font-secundaria);
    font-size: 1.6rem;

    text-align: center;

    margin-bottom: .8rem;
}

.rocketq {
    background-image: url('https://github.com/glsvitoria/nlw6-trilha-discover/raw/main/public/images/Screenshot.png');
}

.interact {
    background-image: url('https://github.com/glsvitoria/nlw6-trilha-origin/raw/main/assets/images/Screenshot.PNG');
}

.netflix {
    background-image: url('https://github.com/glsvitoria/netflix-clone/raw/main/image/Screenshot.PNG');
}

.dev {
    background-image: url('https://github.com/glsvitoria/maratona-discover/raw/main/assets/Screenshot.png');
}

.task {
    background-image: url('https://github.com/glsvitoria/lista-de-tarefas/raw/main/assets/images/Screenshot.PNG');
}

.petshop {
    background-image: url('https://github.com/glsvitoria/petshop_validate_form/raw/main/assets/img/Screenshot.PNG');
}

.project_card__image {
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 1.2rem 1.2rem 0 0;

    height: 9rem;

    margin: -1rem -1rem 0.6rem -1rem;
}



.project_card__description {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: .8rem;

    height: 3rem;

    text-align: center;

    line-height: 1.6rem;
}

.project_card__link {
    margin-top: 1.2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_card__link___ancora {
    width: 100%;
}

.ancora2 {
    margin-top: 1rem;
    width: 80%;
}

.project_card__link___button {
    background-color: rgb(239, 239, 239);
    color: var(--cor5);
    cursor: pointer;
    font-family: var(--font-secundaria);
    font-size: 1.2rem;

    border-radius: 1.2rem;

    width: 100%;
    height: 2rem;

    transition: .7s;
}

.project_card__link___button:hover {
    background-color: var(--cor8);
    color: var(--cor6);
}

