@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*https://color.adobe.com/pt/dark-theme-color-theme-10012632/*/
:root {
   --background: #FFF;
   --description_bg: #fcfcfc;
   --card_bg: rgba(206, 218, 242, 0.6);
   --skills_bg: #cedaf2;
   --footer_bg: #3F3F3F;
   --header_bg: rgb(250, 250, 250);
   --cor1: #cedaf2;
   --cor4: #ac7793;
   --cor5: #f2a7a7;
   --cor6: #023535;
   --header-color-font: #bf8fb7;
   --home_subtitle: #b2bcd1;
   --section_title: #b4cf66;
   --transition_color: black;

   --opacity_transition: 0.05;
   --skill_opacity: 0.5;

   --font-padrao: 'Ubuntu', sans-serif;
   --font-secundaria: 'Bebas Neue', cursive;
}

/*https://www.youtube.com/watch?v=rnkdLX6mOD4*/
.dark_mode:root {
   --background: #023535;
   --description_bg: #3F3F3F;
   --card_bg: #3F3F3F;
   --skills_bg: #3F3F3F;
   --header_bg: #3F3F3F;
   --cor4: #C8C8C8;
   --cor5: #f2a7a7;
   --cor6: #88C8CB;
   --header-color-font: #bf8fb7;
   --home_subtitle: #b2bcd1;
   --section_title: #b4cf66;
   --transition_color: white;

   --opacity_transition: 0.15;
   --skill_opacity: 0.6;
}

* {
   border: none;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
}

html {
   scroll-behavior: smooth;
}

body {
   background-color: var(--background);
}

.container {
   padding-right: 10vw;
   padding-left: 10vw;

   margin: 3rem 0 3rem 0;

   padding-top: 6rem;
}

nav.container {
   margin: 0;
}

#header {
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;

   transition: background 0.2s;
}

#header.scroll {
   background: var(--header_bg);
   box-shadow: 0px 0px 1rem rgba(116, 116, 116, 0.5);
}

/*====== GERAL STYLES ======*/
.title {
   font-size: 3.6rem;
   font-family: var(--font-secundaria);
}
.btn {
   background-position: 100%;
   background-size: 400%;
   -webkit-transition: background 400ms ease-in-out;
   transition: background 400ms ease-in-out;
}

.btn:hover {
   background-position: 0;
}

.avatar {
   background-size: contain;
   background-repeat: no-repeat;

   height: 400px;
   width: 400px;
}

/*====== HEADER ======*/

#header {
   color: var(--cor6);
   font-family: var(--font-padrao);
}

.nav {
   display: flex;
   align-items: center;
   justify-content: space-between;

   width: 100vw;
   height: 5rem;

   padding-top: 0;
   margin-top: 0;
}

.nav_list {
   display: flex;
   justify-content: space-between;
   font-weight: 600;

   list-style-type: none;

   padding-right: 2rem;
}

.nav_caracter {
   color: var(--section_title);
   font-size: 2.2rem;
   font-weight: 700;
   padding: 0 0.4rem;
}

.nav_caracter:first-child {
   padding-left: 0;
}

.nav_title {
   font-variant: small-caps;
   font-size: 1.8rem;

   color: var(--header-color-font);
}

#nav_container__input {
   visibility: hidden;
   display: none;
}

.nav_list__ancora {
   color: var(--header-color-font);
}

#header nav ul li {
   padding: 0 1vw 0 1vw;
}

#header nav ul li:last-child {
   padding-right: 0;
}

.mobile-menu {
   cursor: pointer;
   display: none;
}

.mobile-menu div {
   width: 32px;
   height: 2px;
   background: var(--cor6);
   margin: 8px;
   transition: 0.3s;
}

/*https://www.youtube.com/watch?v=BQSNBa3gZJU*/
/*====== BTN DARKMODE ======*/
.label_checkbox {
   position: absolute;
   height: 100%;
   top: 50%;
   right: 5vw;
   transform: translate(-50%, -50%);

   display: flex;
   align-items: center;
}

#switch {
   position: relative;
   width: 40px;
   height: 20px;
   -webkit-appearance: none;
   background: #c6c6c6;
   outline: none;
   border-radius: 20px;
   box-shadow: inset 0 0 5px rgba(0,0,0,.2);
   transition: .5s;
}

#switch:checked {
   background: #03a9f4;
}

#switch::before {
   content: '';
   position: absolute;
   width: 16px;
   height: 16px;
   border-radius: 20px;
   top: 0;
   left: 0;
   background: #FFF;
   background-image: url('https://images.vexels.com/media/users/3/145134/isolated/preview/46b65a02ff99e7bb4e84d4d3d627a729-icone-de-raios-nitidos-do-sol.png');
   background-size:contain;
   padding: 2px;
   transform: scale(1.1);
   box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
   transition: .5s;
}

#switch:checked::before{
   left: 20px;
   background-image: url('https://images.vexels.com/media/users/3/205562/isolated/lists/c5460a0b8bb6bef04c96398bf6ec86ba-ilustracao-de-lua-minguante.png');
}

.label_checkbox.margin {
   margin-right: 12vw;
}

/*====== HOME ======*/

.home {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.home_avatar {
   background-image: url('/images/meu_avatar.svg');
}

.home_description {
   border: 1px solid var(--cor1);
   border-radius: 1.6rem;
   background-color: var(--description_bg);

   font-family: var(--font-padrao);

   padding: 4rem;

   width: 45vw;
}

.home_description__subtitle {
   font-size: 1rem;
   color: var(--home_subtitle);
}

.home_description__title {
   color: var(--section_title);
   font-size: 5rem;
   font-family: var(--font-secundaria);

   padding: 0.5rem 0 0.5rem 0;
}

.home_description__text {
   color: var(--cor4);
   font-size: 1.2rem;

   text-align: justify;

   line-height: 2rem;
}

/*====== SOCIAL ======*/

.home_description__social,
.about_description__social {
   display: flex;
   justify-content: space-between;
   padding-top: 2rem;
   width: 10vw;
}

.home_description__social i,
.about_description__social i {
   font-size: 1.6rem;
   color: var(--cor4);
}

.home_description__social a,
.about_description__social a {
   transition: 0.3s;
}

.home_description__social a:hover,
.about_description__social a:hover {
   transform: translateY(-0.5rem);
}

/*====== TRANSITION ======*/

.transition {
   display: flex;
   justify-content: space-between;

   font-family: var(--font-secundaria);

   letter-spacing: 0.2rem;

   opacity: var(--opacity_transition);

   margin-left: 15vw;
   margin-right: 15vw;
}

.transition_container {
   display: flex;
   align-items: center;
}

.transition_container h1 {
   color: var(--transition_color);
}

.transition_image {
   background-size: contain;
   background-repeat: no-repeat;

   margin-right: 2rem;

   height: 80px;
   width: 80px;
}

.image_javascript {
   background-image: url('/images/javascript_logo.svg');
}

.image_html {
   background-image: url('/images/html_logo.svg');
}

.image_css {
   background-image: url('/images/css_logo.svg');
}

.image_git {
   background-image: url('/images/git_logo.svg');
}

.image_github {
   background-image: url('/images/github_logo.svg');
}

.image_react {
   background-image: url('/images/react_logo.svg');
}

.image_bootstrap {
   background-image: url('https://getbootstrap.com.br/docs/4.1/assets/img/bootstrap-stack.png');
}

.image_nodejs {
   background-image: url('https://seeklogo.com/images/N/nodejs-logo-FBE122E377-seeklogo.com.png');
}

.image_typescript {
   background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsvuhpnrFB4-A7XC2R86z40JW_lTzCSRKg9hL9N4oJSxAuh5jXz3hDAsZutzS75SN-Bic&usqp=CAU');
}

/*====== ABOUT ======*/

.about {
   display: flex;
   justify-content: space-between;

   font-family: var(--font-padrao);

   position: relative;
}

.about_avatar {
   background-image: url('/images/meu_avatar_2.svg');
}

.about_description {
   width: 40vw;

   margin-left: 2rem;

   text-align: justify;
}

.about_title {
   font-family: var(--font-secundaria);

   text-indent: 0.4rem;

   padding-bottom: 1.2rem;
}

.about_text {
   color: var(--cor4);
   font-size: 1.2rem;
   line-height: 2rem;
}

.about_donwload {
   border-radius: 2.4rem;
   border: 1px solid var(--cor1);

   color: #fff;
   cursor: pointer;

   font-family: var(--font-secundaria);
   font-size: 1.6rem;

   letter-spacing: 0.2rem;

   padding: 1rem 3rem;
   margin: 2rem 2rem 1rem 2rem;

   background-image: linear-gradient(45deg, #f3d5d5 50%, transparent 50%);
}

.about_donwload a {
   color: var(--cor5);
}

.about_title__caracter,
.project_title__caracter,
.skill_title__caracter {
   color: var(--cor6);

   padding: 0 0.6rem 0 0.6rem;
}

.about_title__span,
.project_title__span,
.skill_title__span {
   color: var(--section_title);
}

.about_image {
   background-image: url('https://i.pinimg.com/736x/9e/a4/07/9ea407824655633012e9b7e46993147d.jpg');
   background-size: contain;

   width: 80vw;
   height: 84%;

   position: absolute;

   opacity: 0.05;

   z-index: -1;
}

/*====== PROJECTS ======*/

.project {
   color: black;
}

.div_cards {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-row-gap: 3rem;
}

.project_title,
.skill_title {
   margin: 0 0 2rem 2.6rem;
}

.project_card {
   border-radius: 1.2rem;

   box-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.39);
   background-color: var(--card_bg);

   width: 21vw;

   margin: 0 auto;
   padding: 1rem;
}

.project_card__title {
   color: var(--cor6);
   font-family: var(--font-secundaria);
   font-size: 1.6rem;

   text-align: center;

   margin-bottom: 0.8rem;
}

.rocketq {
   background-image: url('https://github.com/glsvitoria/nlw6-trilha-discover/raw/main/public/images/Screenshot.png');
}

.interact {
   background-image: url('https://github.com/glsvitoria/nlw6-trilha-origin/raw/main/assets/images/Screenshot.PNG');
}

.netflix {
   background-image: url('https://github.com/glsvitoria/netflix-clone/raw/main/image/Screenshot.PNG');
}

.dev {
   background-image: url('https://github.com/glsvitoria/maratona-discover/raw/main/assets/Screenshot.png');
}

.tic_tac {
   background-image: url('https://github.com/glsvitoria/jogo_da_velha/raw/main/assets/Screenshot.PNG');
}

.petshop {
   background-image: url('https://github.com/glsvitoria/petshop_validate_form/raw/main/assets/img/Screenshot.PNG');
}

.project_card__image {
   background-repeat: no-repeat;
   background-size: 100% 100%;
   border-radius: 1.2rem 1.2rem 0 0;

   height: 9rem;

   margin: -1rem -1rem 0.6rem -1rem;
}

.project_card__description {
   color: var(--cor6);
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
   font-size: 0.75rem;

   height: 3rem;

   text-align: center;

   line-height: 1.6rem;
}

.project_card__link {
   margin-top: 1.2rem;

   display: flex;
   flex-direction: column;
   align-items: center;
}

.project_card__link___ancora {
   width: 100%;
}

.ancora2 {
   margin-top: 1rem;
   width: 80%;
}

.project_card__link___button {
   background-color: rgb(211, 211, 211);
   color: var(--cor5);
   cursor: pointer;
   font-family: var(--font-secundaria);
   font-size: 1.2rem;

   border-radius: 1.2rem;

   width: 100%;
   height: 2rem;

   transition: 360ms;

   background-image: linear-gradient(
      45deg,
      var(--section_title) 50%,
      transparent 50%
   );
}

.project_card__link___button:hover {
   color: var(--background);
}

/*====== SKILLS ======*/
.skill_container {
   display: flex;
   justify-content: space-between;
}

.skill_container > div {
   width: 45%;
}

.skill_container__title {
   font-family: var(--font-secundaria);
   font-size: 2.8rem;

   color: var(--cor6);

   text-align: center;

   margin-bottom: 1rem;
}

.skill_container__list {
   background-color: var(--skills_bg);
   border-radius: 2rem;

   padding: 1rem;

   list-style-type: none;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;

   box-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.39);
}

.skill_container__list___2 {
   background-color: var(--skills_bg);
   border-radius: 2rem;

   padding: 1rem;

   list-style-type: none;

   display: grid;
   grid-template-columns: 1fr;

   box-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.39);
}

.skill_container__list___card {
   margin-right: auto;
   margin-left: auto;

   padding: 1rem;
}

.skill_container__list___card____2 {
   width: auto;

   padding: 0.8rem;

   opacity: 0.8;
}

.skill_container__list___card____name {
   color: var(--cor6);
   margin-bottom: 0.5rem;
   font-family: var(--font-padrao);
   font-size: 1rem;
}

.skill_container__list__card___image {
   width: 4rem;

   opacity: var(--skill_opacity);
   transition: 0.5s;
}

.skill_container__list__card___image:hover {
   opacity: 1;
   cursor: pointer;

   transform: scale(1.2);
}

.skill_container__list___card____progress {
   display: flex;
   width: 100%;
}

.skill_container__list___card____progress_____bar {
   background-color: #023535;
   height: 0.4rem;
   width: 10%;
}

.incomplete {
   background-color: #ac7793;
   opacity: 0.4;

   border-right: 0.2rem solid black;
}

/*====== FOOTER======*/
.footer {
   display: flex;
   align-items: center;
   justify-content: space-between;

   height: 6rem;
   width: 100%;

   margin-top: 0;
   margin-bottom: 0;

   background-color: var(--footer_bg);

   padding-top: 0;
}

.footer_name {
   color: white;
   font-family: var(--font-padrao);
   font-weight: 600;
}

.footer_social a {
   color: white;
   margin-left: 2rem;
}

.footer_social i {
   border: 1px solid white;
   border-radius: 100%;

   font-size: 1.2rem;

   padding: 0.6rem 0.6rem 0.6rem 0.6rem;

   transition: 0.5s;
}

.footer_social i:hover {
   background-color: white;
   color: var(--cor6);
}

/*-------- BACK-TO-TOP --------*/
.back_to_top {
   background: var(--footer_bg);
   color: var(--section_title);

   position: fixed;

   right: 1rem;
   bottom: 1rem;

   padding: 1.2rem;
   clip-path: circle();

   font-size: 1.5rem;
   line-height: 0;

   visibility: hidden;
   opacity: 0;

   transition: 0.3s;
   transform: translateY(100%);
}

.back_to_top.show {
   visibility: visible;
   opacity: 1;
   transform: translateY(0);
}

/*-------- SCROLL BAR --------*/
body::-webkit-scrollbar {
   width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
   background: var(--cor5); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
   background-color: var(--footer_bg); /* color of the scroll thumb */
   border-radius: 20px; /* roundness of the scroll thumb */
   border: 3px solid var(--cor5); /* creates padding around scroll thumb */
}

@media screen and (max-width: 1200px) {
   .home_description {
      padding: 2.8rem;
   }
}

@media screen and (max-width: 1050px){
   .label_checkbox {
      right: 2rem;
   }
   
}

@media screen and (max-width: 900px) {
   .container {
      padding-right: 7.5vw;
      padding-left: 7.5vw;
   }

   .nav_list {
      padding-right: 4rem;
   }

   .avatar {
      height: 350px;
      width: 350px;

      margin: auto;
      margin-right: -1rem;
   }
   .home_description {
      padding: 2rem;
   }

   .home_description__title {
      font-size: 4rem;
      line-height: 4.2rem;
   }

   .about_description__social,
   .home_description__social {
      width: 14vw;
   }

   .skill_container__list___card {
      padding: 0.6rem;
   }

   .skill_container__list__card___image {
      width: 3.2rem;
   }
}

@media screen and (max-width: 768px) {
   .container {
      padding-right: 5vw;
      padding-left: 5vw;

      margin: 1.5rem 0 1.5rem 0;
   }

   .label_checkbox {
      right: 4rem;
   }

   .avatar {
      height: 300px;
      width: 300px;
   }

   .home_description {
      padding: 1.6rem;
      width: 50vw;
   }

   .home_description__subtitle {
      font-size: 0.8rem;
      font-weight: 600;
   }

   .home_description__title {
      font-size: 3rem;
      line-height: 3.6rem;
   }

   .home_description__text {
      font-size: 1rem;
      line-height: 1.6rem;
   }

   .home_description__social,
   .about_description__social {
      padding-top: 1.2rem;
      width: 18vw;
   }

   .transition {
      margin: -1rem 8vw -1rem 8vw;
   }

   .transition_image {
      height: 60px;
      width: 60px;
   }

   .about_image {
      width: 90vw;
   }

   .about_avatar {
      margin-right: -1rem;
   }

   .title {
      font-size: 2.4rem;
   }

   .about_description {
      margin-left: 0.8rem;
      width: 50%;
   }

   .about_text {
      font-size: 1rem;
      line-height: 1.6rem;
   }

   .about_donwload {
      font-size: 1.2rem;

      padding: 0.8rem 2rem;
      margin: 2rem 2rem 1rem 4rem;
   }

   .project_card {
      width: 25vw;
      padding: 1rem;
   }

   .project_card__image {
      height: 6rem;
   }

   .project_card__title {
      font-size: 1.2rem;
   }

   .project_card__description {
      font-weight: 600;
      font-size: 0.6rem;
      height: 2rem;
      line-height: 1rem;
   }

   .project_card__link___button {
      font-size: 0.8rem;
      letter-spacing: 0.1rem;

      height: 1.6rem;
   }

   .skill_container > div.skill_container__frontend {
      width: 40%;
      margin-left: 5%;
   }

   .skill_container__list {
      padding: 0.4rem;
   }

   .skill_container__title {
      font-size: 2rem;
   }

   .skill_container__list__card___image {
      width: 2.5rem;
   }

   .skill_container__list___card____name {
      font-size: 0.8rem;
   }

   .skill_container__list___card____progress_____bar {
      height: 0.2rem;
   }

   .skill_container > div.skill_container__soft {
      width: 40%;
      margin-right: 5%;
   }

   .footer {
      margin-top: 4rem;
      margin-bottom: 0;
      padding-right: 4.5rem;
      padding-left: 4.5rem;
   }

   .back_to_top {
      bottom: 1.6rem;
      padding: 0.8rem;
      font-size: 1.2rem;
   }

   body {
      overflow-x: hidden;
   }

   nav.black {
      background: #023535;
   }

   .nav_list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 100vw;
      height: 92vh;

      background-color: #023535;

      flex-direction: column;
      align-items: center;
      justify-content: center;

      transform: translateX(100%);
      transition: transform 0.3s ease-in;
   }

   .nav_list li {
      margin-left: 0;
      opacity: 0;
      font-size: 3rem;

      padding: 0;

      margin: 3rem;
   }

   .nav_list__ancora:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
   }

   .nav_list__ancora:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: var(--section_title);
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
   }
   .nav_list__ancora:hover {
      color: var(--section_title);
   }

   .mobile-menu {
      display: block;
   }

   .nav_list.active {
      transform: translateX(0);

      padding-right: 0;
   }

   @keyframes navLinkFade {
      from {
         opacity: 0;
         transform: translateX(50px);
      }
      to {
         opacity: 1;
         transform: translateX(0);
      }
   }

   .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
   }

   .mobile-menu.active .line2 {
      opacity: 0;
   }

   .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-6px, -8px);
   }

   .mobile-menu div.white {
      background: white;
   }
}

@media screen and (max-width: 600px) {
   .avatar {
      height: 240px;
      width: 240px;

      margin-right: 0;
   }

   
   .label_checkbox span {
      display: none;
      visibility: hidden;
   }

   .home_description {
      padding: 1.2rem;
   }

   .home_description__subtitle {
      font-size: 0.7rem;
   }

   .home_description__title {
      font-size: 2.4rem;
      line-height: 2.8rem;

      padding: 0.3rem 0 0.3rem 0;
   }

   .home_description__text {
      font-size: 0.9rem;
      line-height: 1.6rem;
   }

   .home_description__social,
   .about_description__social {
      width: 16vw;

      padding-top: 0.8rem;
   }

   .home_description__social i,
   .about_description__social i {
      font-size: 1.4rem;
   }

   .transition {
      margin: -2rem 8vw -2rem 8vw;
   }

   .transition_image {
      height: 40px;
      width: 40px;
   }

   .transition_container h1 {
      font-size: 1.4rem;
   }

   .about_image {
      width: 90vw;
   }

   .title {
      font-size: 2rem;
   }

   .about_text {
      font-size: 0.7rem;
      line-height: 1.2rem;
   }

   .about_avatar {
      margin-right: -1rem;
   }

   .about_donwload {
      font-size: 0.9rem;

      padding: 0.6rem 1.6rem;
      margin: 2rem 2rem 1rem 2rem;
   }

   .about_image {
      height: 80%;
   }

   .div_cards {
      grid-template-columns: 1fr 1fr;
   }

   .project_card {
      width: 40vw;
      padding: 1rem 0.6rem 1rem 0.6rem;
   }

   .project_card__image {
      margin: -1rem -0.6rem 0.6rem -0.6rem;
   }

   .skill_container__title {
      font-size: 1.2rem;
   }

   .skill_container__list___card {
      padding: 0.6rem 0;
   }

   .skill_container__list__card___image {
      width: 2rem;
   }

   .skill_container__list___card____name {
      font-size: 0.6rem;
   }

   .skill_container__list___card____2 {
      padding: 0.5rem;
   }

   .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      height: 8rem;
   }

   .footer_name {
      padding-top: 1rem;
      padding-bottom: 0.5rem;
   }

   .footer_social {
      padding-bottom: 1rem;
      padding-top: 0.5rem;
   }

   .footer_social a {
      margin-left: 1rem;
   }

   .footer_social a:first-child {
      margin-left: 0;
   }

   .footer_social i {
      font-size: 0.8rem;
   }
}

@media screen and (max-width: 480px) {
   .home {
      display: flex;
      flex-direction: column;
   }

   .home_avatar {
      margin: 0;

      height: 300px;
      width: 280px;
   }

   .home_description {
      width: 80vw;
   }

   .home_description__subtitle {
      font-size: 0.8rem;
   }

   .home_description__title {
      font-size: 3rem;

      padding-top: 1rem;
      padding-bottom: 1rem;
   }

   .home_description__text {
      font-size: 1rem;
   }

   .home_description__social,
   .about_description__social {
      width: 30vw;
   }

   .transition {
      margin: -3rem 2vw -3rem 2vw;
   }

   .transition_image {
      margin-right: 1rem;
   }

   .transition_container h1 {
      font-size: 1rem;
   }

   .about_avatar {
      position: absolute;
      height: 120px;
      width: 120px;
      top: 66%;
      left: 60%;
   }

   .about_description {
      width: 1000%;
   }

   .about_text {
      font-size: 0.8rem;
   }

   .about_donwload {
      font-size: 0.8rem;
      margin: 2rem 2rem 1rem 1rem;
   }

   .skill_container {
      flex-direction: column;
      align-items: center;
   }

   .skill_container > div.skill_container__frontend {
      width: 90%;
      margin-left: 0;
      margin-bottom: 2rem;
   }

   .skill_container__list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }

   .skill_container__list___card {
      padding: 1rem 0;
   }

   .skill_container__list__card___image {
      width: 2.4rem;
   }

   .skill_container > div.skill_container__soft {
      width: 90%;
      margin-right: 0;
   }
}

@media screen and (max-width: 380px) {
   .label_checkbox {
      right: 3rem;
   }

   .div_cards {
      grid-template-columns: 1fr;
   }

   .project_card {
      width: 60vw;
   }

   .about_avatar {
      position: absolute;
      height: 100px;
      width: 100px;
   }

   .about_donwload {
      font-size: 0.8rem;
      margin: 2rem 2rem 1rem 0;
   }

   .footer {
      padding-right: 2rem;
      padding-left: 2rem;
   }

   .footer_name {
      font-size: 0.8rem;
   }

   .footer_name {
      padding-bottom: 0.25rem;
   }

   .footer_social {
      padding-top: 0.25rem;
   }
}

@media screen and (max-width: 320px) {
   .nav_title {
      font-size: 1.4rem;
   }

   .nav_caracter {
      font-size: 1.8rem;
   }

   .mobile-menu div {
      width: 24px;
      height: 2px;
      background: #023535;
      margin: 8px;
      transition: 0.3s;
   }

   .home_avatar {
      height: 240px;
      width: 220px;
   }

   .home_description__title {
      font-size: 2.4rem;
   }

   .home_description__text {
      font-size: 0.9rem;
   }

   .home_description__social,
   .about_description__social {
      width: 40vw;
   }

   .transition {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
   }

   .transition .transition_container:first-child {
      margin-bottom: 1rem;
   }

   .about_donwload {
      font-size: 0.6rem;
      margin: 2rem 2rem 1rem 0;
      padding: 0.4rem 1.2rem;
   }

   .about_avatar {
      position: absolute;
      top: 70%;

      height: 80px;
      width: 80px;
   }

   .project_card {
      width: 70vw;
   }
}
